<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enterprise.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.enterprise.app.Dashboard"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.enterprise.app.Perfil"
            android:label="@string/app_name"
            android:parentActivityName="net.learn2develop.HelloWorld.HelloWorldActivity" >
             <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.learn2develop.HelloWorld.HelloWorldActivity" />
        </activity>
        <activity
            android:name="com.enterprise.app.Conf"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.enterprise.android.Notificacion"
            android:label="@string/title_activity_notificacion" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Android layer -->
        <activity
            android:name="com.enterprise.android.EnterpriseActivity"
            android:label="@string/android_layer" >
        </activity>
    </application>

</manifest>